@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/filter";

$borderRadius: 4px;

/* Create a nice button */
.mixin-button {
  cursor: pointer;

  display: inline-block;
  padding: 2px 8px;
  width: auto;

  text-align: center;
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);

  border: 1px solid #8D8D8D;

  @include border-radius($borderRadius);

  .boxshadow & {
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
  }

  &.small {
    font-size: 12px;
    line-height: 16px;
  }

  //background: white;
  @include background(#c3c1c1 linear-gradient(#ffffff, #ffffff 25%, #c3c1c1) repeat-x);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#c3c1c1');
  //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#c3c1c1')";

  .csstransitions & {
    @include transition(.1s linear all);
  }

  &:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
    background: #c3c1c1;
  }

  &:active, &.active {

    .boxshadow & {
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05));
    }
  }

  &.disabled, &[disabled], &.selected {
    cursor: default;
    background-image: none;
    @include opacity(0.65);
    @include box-shadow(none);

    .cssgradients & {
      @include filter(none);
    }
    background: #C3C1C1; // Special IE < 9
  }

  /**
   *  Different button style
   */
  &.primary {
    background-color: #00739E;
    background-image: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border-color: #00516D;

    .cssgradients & {
      @include background(linear-gradient(#0CA8DD, #00739E) repeat-x);
    }

    &.disabled, &[disabled] {
      @include opacity(0.65);
      background-color: #0044CC;
      @include box-shadow(none);
    }
  }
}

@mixin button() {
  @extend .mixin-button;
}

@mixin arrow_pos($size, $color, $orientation, $top) {
  right: 4px;
  border: $size solid $color;
  position: absolute;
  top: $top;

  @if $orientation == left {
    border-left-color: $color;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right: none;
  } @else if $orientation == top {
    border-bottom-color: $color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
  } @else if $orientation == right {
    border-right-color: $color;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left: none;
  } @else if $orientation == bottom {
    border-top-color: $color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
  }
}