.toggle-icon {
    &.close:after {
        padding-left: 10px;
        content: ">";
    }
    &.open:after {
        padding-left: 10px;
        content: "X";   
    }
}

x-button-dropdown {
    cursor: pointer;
}