@import "inativ/screen";
@import "compass/css3/images";

$borderColor : #8d8d8d;

@mixin arrow_pos($size, $color, $orientation, $top) {
  right: 4px;
  border: $size solid $color;
  position: absolute;
  top: $top;

  @if $orientation == left {
    border-left-color: $color;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right: none;
  } @else if $orientation == top {
    border-bottom-color: $color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
  } @else if $orientation == right {
    border-right-color: $color;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left: none;
  } @else if $orientation == bottom {
    border-top-color: $color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
  }
}

.toggle-icon {
  @include arrow_pos(5px, #333, bottom, 10px);
}

x-button-dropdown {
  .header {
    @extend .btn;
    min-width: 110px;
    position:relative;
  }
  .dropdown {
    border: 1px solid #B9B9B9;
    display: block;
    position: fixed;
    z-index: 1;
    width: 231px;
    background: #ffffff;
    line-height: 18px;
    min-width: 206px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 2px 4px;
        border-bottom: 1px dotted #E6E6E6;
        font-size: 12px;
        &.action {
          cursor: pointer;
          &:hover {
            background-color: #0c97e1;
            color: white;
          }
          color: #000
        }
        &.text {
          font-style : italic;
          font-weight:300;
          color: #acacac;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}